@font-face {
    font-family: "YourFontName"; /* Назва для вашого шрифту */
    src: url("font/export015-1/KyivRegion-Regular.woff2") format("woff2");

    /* Посилання на ваш файл шрифту та його формат */
}

.container {
    max-width: 1440px;
    padding: 20px;
    margin: 10px auto;
    display: grid;
    grid-template-rows: auto 1fr;
    background-image: linear-gradient(135deg, #040a26 0%, #bab7b3 100%);
    height: 95vh;
    border-radius: 20px;
}
input[type="text"] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    background-image: linear-gradient(135deg, #fddcf9 0%, #c3e8fc 100%);

    background-repeat: no-repeat;
    padding: 12px 20px 12px 20px;
    transition: width 0.4s ease-in-out;
}
input[type="text"]:focus {
    width: 50%;
}
form {
    display: flex;
    align-items: center;
    button {
        transform: translate(-40px);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 26px;
        height: 26px;
        margin-left: 5px;
        border: 1px solid #939191;
        border-radius: 5px;
        font-size: 16px;
        background-image: linear-gradient(135deg, #fedce1 0%, #7073fe 100%);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
        background-repeat: no-repeat;
    }
}
.gridcont {
    margin-top: 10px;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    width: 100%;
    min-height: 100%;
}
.blocktrash {
    display: flex;
    justify-content: center;
    align-items: center;
    .blockdumster {
        .treshInDumpster {
            position: relative;
            height: 300px;
            z-index: 1;
            display: flex;
            bottom: 25px;
            .dumpster {
                position: relative;
                display: block;
                height: 100%;
                position: relative;
                z-index: 2;
                opacity: 0.7;
            }
            .trashthing:nth-child(1) {
                left: 125px;
                bottom: 45px;
                position: absolute;
                transform: scale(0.6) rotate(-60deg);
                transform-origin: left;
            }
            .trashthing:nth-child(2) {
                left: 70px;
                bottom: 45px;
                position: absolute;
                transform: scale(0.6) rotate(320deg);
                transform-origin: left;
            }
            .trashthing:nth-child(3) {
                left: 90px;
                bottom: 45px;
                position: absolute;
                transform: scale(0.6) rotate(-100deg);
                transform-origin: left;
            }
            .trashthing:nth-child(4) {
                left: 60px;
                bottom: 45px;
                position: absolute;
                transform: scale(0.6) rotate(-50deg);
                transform-origin: left;
            }
            .buttonCont {
                .dropTrash {
                    width: 20px;
                }
                .backTrash {
                    width: 20px;
                }
                .remove {
                    width: 20px;
                }
            }
        }
        .buttonCont {
            position: absolute;
            right: -80px;

            display: flex;
            width: 75px;
            gap: 5px;
        }
    }
}
.blockNotdoThis {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    gap: 5px;
    justify-items: center;
    align-items: center;
}
.trashthing {
    position: relative;
    width: 300px;
    height: 50px;
    margin-left: 5px;
    border: 1px solid #939191;
    border-radius: 5px;
    font-size: 16px;
    background-image: linear-gradient(135deg, #040a26 0%, #bab7b3 100%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
    background-repeat: no-repeat;
    .close {
        position: absolute;
        top: -5px;
        left: -5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18px;
        height: 18px;
        color: white;
        border: 0.6px solid #939191;
        border-radius: 5px;
        font-size: 16px;
        background-image: linear-gradient(135deg, #4f011b 0%, #ff7a83 100%);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
        background-repeat: no-repeat;
        transition: all 0.2s;
    }
    .close:hover {
        transform: scale(1.5);
        user-select: none;
    }

    .close:active {
        transform: scale(2.5) rotate(360deg);
    }
    .imputText {
        color: white;
    }
}
.box1 {
    border: 1px solid rgba(255, 255, 255, 0.42);
    margin-bottom: 10px;
    /* grid-row-start: 1;
    grid-row-end: 3; */
    border-radius: 10px;
    grid-row: span 2;
    background: #040a26;
    background-image: linear-gradient(135deg, #003337 0%, #030118 100%);
    div {
        font-family: YourFontName;
        width: 640px;
        padding: 40px 70px 40px 70px;
        background-image: linear-gradient(
            135deg,
            #ebfdf2 0%,
            #69b9fb 100%
        ); /* Ваш градієнт */
        -webkit-background-clip: text; /* Для підтримки вебкіт-браузерів */
        background-clip: text;
        color: transparent;
        font-size: 50px;
        span {
            color: #00435b;
        }
    }
}
